/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 20, 2025, 8:16:16 AM
    Author     : admin
*/

.main {
    -fx-background-color: #FFFFFF;
    -fx-padding: 10; 
    -fx-alignment: center;
    -fx-spacing: 10;
}

.subject {
    -fx-fill: #000000;
    -fx-font-size: 14;
    -fx-stroke: gold;
    -fx-stroke-width: 3;
    -fx-font-weight: bold;
    -fx-font-family: Arial;
}

.button {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #000000;
    -fx-pref-width: 150;
    -fx-font-family: Arial;
}